<html>
    <head> </head>
    <body>

    <h1>Welcome to Chitter</h1>

    <a href="/login">Login</a><br>
    <a href="/signup">Signup</a><br>
    <a href="/shoutybox">Shouty Box<br>- see what people are peeping</a>
    </body>

</html>